* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.nabar {
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
    text-align: center;

    justify-content: space-between;
}

nav img {
    margin-left: 180px;
    height: 100px;
}

button {
    width: 320px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    border: none;
    margin-left: 350px;
    margin-top: 20px;
}

.fa-magnifying-glass {
    float: right;
}

.nabar a {
    text-decoration: none;
    width: 15%;
    font-size: 20px;
    margin-top: 20px;
    color: white;

}

a img {

    height: 30px;
    margin-top: 40px;
    /* margin-right: 500px; */


}

.audio {
    background-color: black;
    display: flex;
    justify-content: center;

}

li a {
    color: white;
    font-size: 15px;
    padding-left: 50px;
    text-decoration: none;
}

.herosection {
    background-color: black;
    height: 78vh;
    width: 100%;
    display: flex;
}

.img-section {
    background-image: url(./girl.jpeg);
    background-size: cover;
    height: 78vh;
    width: 70%;
}

.text-img-section {

    height: 80vh;
    width: 30%;
    text-align: center;
    justify-content: center;
    padding-left: 10px;
    color: white;
}

#original {
    margin-top: 120px;
    height: 30px;
    width: 50%;
}

.text-img-section h1 {
    font-size: 38px;
}

.text-img-section p {
    margin-top: 10px;

}

.text-img-section img {

    height: 100px;
    width: 85%;
}

.text-img-section button {

    width: 120px;
    height: 28px;
    margin-left: 150px;
    margin-right: 200px;
    margin-bottom: 10%;
}

.text-icon {
    background-color: black;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    color: white;


}

.text-icon img {
    height: 45px;
    margin-left: 30px;
    padding-top: 25px;

}

#Boss {

    padding-top: 25px;
}

.text-icon p {
    font-size: 20px;
    /* width: 18%; */
    padding-bottom: 50px;
}

.text-icon a {
    padding-top: 25px;
    margin-left: 25px;
    color: white;
}

.section-1 {
    background-color: white;
    height: 70vh;
    width: 100%;
}

.section-1 h1 {
    padding-left: 200px;
    padding-top: 10px;
}

.headphones {

    width: 20%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

.headphones img {
    height: 250px;
    width: 100%;
}

.Bosed {

    /* height: 80vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.headphones a {
    color: black;
    text-decoration: none;
    padding-top: 8px;
}

.hero-section-2 {
    background-image: url(./cq5dam.web.1920.1920.jpeg);
    height: 65vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    color: white;

}

.hero-section-2 p {
    padding-left: 300px;
    padding-top: 10px;
    font-size: 15px;
}

.hero-section-2 h3 {
    margin-left: 200px;
    font-size: 40px;
    padding: 10px;
}

#btn {
    background-color: white;
    border-radius: 20px;
    height: 35px;
    margin-top: 15px;
    width: 12%;
    margin-left: 400px;
    font-size: 15px;
}

.hero-section-3 {

    background-color: bisque;
    height: 65vh;
    width: 100%;
    display: flex;

}

.hero-section-3-text {
    background-color: black;
    height: 65vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.hero-section-3-text h1 {

    padding-top: 150px;
    font-size: 55px;
    margin-left: 30px;

}

.hero-section-3-text p {
    margin-left: 30px;
    font-size: 18px;
    padding-top: 10px;
}

.hero-section-3-text button {
    background-color: white;
    margin-left: 50px;
    width: 150px;
    height: 45px;
    font-size: 15px;
}

.hero-section-3-img {
    background-image: url(./cq5dam.web.1920.1920\ \(1\).jpeg);
    height: 65vh;
    width: 65%;
    background-size: cover;
}

.hero-section-3-img img {
    height: 65vh;
    width: 90%;
}

.hero-section-4 {
    height: 77vh;
    width: 100%;
}

.hero-section-4-text {
    margin-left: 50px;
    padding-top: 30px;
}

.hero-section-4-text p {
    font-size: 20px;
}

.hero-section-4-text h3 {
    font-size: 40px;
    padding-top: 5px;
}

.my-bose {
    font-size: 18px;
    padding-top: 10px;
}

.hero-section-4-img {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.hero-section-4-img img {
    height: 380px;
    padding-top: 30px;
}

.hero-section-5 {
    background-image: url(./101.jpeg);
    height: 65vh;
    width: 100%;
    background-size: cover;
    margin-top: 15px;
}

.hero-section-5-text {

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 200px;
    color: white;
}

.hero-section-5-text p {
    font-size: 15px;
    padding-top: 10px;
    margin-left: 700px;

}

.hero-section-5-text h2 {
    font-size: 35px;
    padding-top: 10px;
    margin-left: 700px;
}

#btn-1 {
    width: 160px;
    height: 40px;
    margin-left: 600px;

}

a {
    text-decoration: none;
    color: black;
}

.Free-return {
    background-color: white;
    height: 80px;
    padding: 30px;

}

.container {
    background-color: #f8f8f8;
    height: 68vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: white;
    height: 52vh;
    width: 70%;
    margin-top: 15px;
}

.EMAIL {
    margin-left: 450px;
    margin-top: 20px;
}

.box h1 {
    font-size: 45px;
    margin-left: 200px;
    margin-top: 10px;
}

.box h6 {
    font-size: 30px;
    margin-left: 320px;
    margin-top: 12px;
}


.box-img-text {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding-top: 20px;
    font-size: 18px;

}

.text-img {
    display: flex;

}

.text-img p {
    margin-left: 10px;
}

.btn-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}

.btn-section input {
    background-color: white;
    height: 40px;
    width: 30%;
    border: none;
    border: 1px solid rgb(168, 167, 167);
}

.btn-section a {
    background-color: black;
    height: 35px;
    width: 10%;
    margin-left: 15px;
    color: white;
    padding-left: 18px;
    padding-top: 7px;
    border-radius: 20px;
}

.p-p {

    margin-top: 50px;
    margin-left: 200px;
    font-size: 12px;

}

.p-p :first-child {
    margin-bottom: 5px;
}

.footer {
    height: 135vh;
    width: 100%;
    background-color: black;

}

.footer-nav {
    background-color: black;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 180px;
}

.footer-nav a i {
    color: rgb(159, 154, 154);
    margin-left: 20px;
    font-size: 35px;
}

:hover a i {
    color: white;
}

.footer-box {
    height: 85vh;
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    padding-top: 80px;

}

.footer-box p a {
    color: white;
}

.box-a {
    display: flex;
    flex-direction: column;
    color: white;
}

.box-a a {
    margin-top: 10px;
    color: white;
}

.box-b {
    display: flex;
    flex-direction: column;

}

.box-b a {
    margin-top: 10px;
    color: white;

}

.end-footer {

    color: white;
    margin-left: 250px;
    margin-top: 80px;

}

#change {
    font-size: 20px;
    margin-left: 180px;
}

.end-footer hr {
    width: 70%;
    margin-left: 180px;
    margin-top: 25px;
    color: gainsboro;
}


.big-bose {

    display: flex;
}

.big-bose p {


    width: 50%;
    padding-top: 25px;
}

.bose-1 {
    padding-left: 45px;
}

.bose-2 {
    margin-top: 55px;
    font-size: 15px;
}